[program:oripyon]
directory=/home/leafbot/git/oripyon
command=/home/leafbot/git/oripyon/venv/bin/gunicorn -c gunicorn_config.py app.main:application
stdout_logfile=/var/log/oripyon.out
stderr_logfile=/var/log/oripyon.err
autostart=true
autorestart=true
