[program:line_bot]
directory=/home/leafbot/git/line_bot
command=/home/leafbot/git/line_bot/venv/bin/gunicorn -c gunicorn_config.py app.main:application
stdout_logfile=/var/log/line_bot.out
stderr_logfile=/var/log/line_bot.err
autostart=true
autorestart=true
