[program:oripyon]
directory=/home/leafbot/git/line_bot
command=/home/leafbot/git/line_bot/venv/bin/gunicorn -c gunicorn_config.py app.main:application
stdout_logfile=/var/log/oripyon.out
stderr_logfile=/var/log/oripyon.err
autostart=true
autorestart=true
