<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

  </head>
  <body>
    <h1>oripyon - line bot</h1>

    <img src="{{url_for('static', filename='oripyon.png')}}" />
    <img src="{{url_for('static', filename='oripyon_qr_code.png')}}" />
    <h2>使用範例：</h2>
    <h3>天氣 台北市</h3>
    <h3>天氣 龍潭區</h3>
    <p>此機器人使用中央氣象局提供之 <a href='http://opendata.cwb.gov.tw'>Open Data 資料</a></p>
    <p>並且還在測試階段，若因任何情況導致氣象資料不準確，本人概不負責</p>

    source code: <a href=\'https://github.com/leafwind/line_bot\'>https://github.com/leafwind/line_bot</a>
  </body>

</html>
